# This workflow will publish the release artifacts.

name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: |
        mvn -B package --file pom.xml
    # - name: Setup upterm session
    #   uses: lhotari/action-upterm@v1
    - name: Set version env variable
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Get release details
      run: |
        export RELEASE_DETAILS="$(awk -vN=2 'n<N;/^# /{++n}' CHANGELOG.md)" 
        export RELEASE_DETAILS="$(sed '${/^# /d;}' <<< "$RELEASE_DETAILS")"
        printenv RELEASE_DETAILS
        touch RELEASE_DETAILS.md
        echo "$RELEASE_DETAILS" > RELEASE_DETAILS.md
        cat RELEASE_DETAILS.md
    - name: Package up release files
      run: |
        mkdir BabelfishCompass
        cp BabelfishCompass.bat BabelfishCompass/
        cp BabelfishFeatures.cfg BabelfishCompass/
        cp THIRD-PARTY-LICENSES.txt BabelfishCompass/
        cp target/compass-*-jar-with-dependencies.jar BabelfishCompass/
        cp LICENSE BabelfishCompass/
        cp NOTICE BabelfishCompass/
        mv BabelfishCompass/compass-*-jar-with-dependencies.jar BabelfishCompass/compass.jar
        zip -r BabelfishCompass_${{ env.RELEASE_VERSION }}.zip BabelfishCompass
    - name: Upload JARs to release
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        bodyFile: "RELEASE_DETAILS.md"
        draft: true
        artifacts: "BabelfishCompass_${{ env.RELEASE_VERSION }}.zip"